{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <div>
        Network state:
        {% if network_state_list %}
            {% for ns in network_state_list %}
            {% if request.user.id == ns.author_id %}
                {{ ns.network_state}}
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th style="width:50%">file path</th>
            <th>state</th>
            <th>author</th>
            <th>modify</th>
        </tr>
        </thead>
        <tbody>
        {% if myfile_list %}
        {% for myfile in myfile_list %}
        {% if request.user == myfile.author %}
        <tr class="text-center">
            <td class="text-left">
                {{ myfile.file_path }}
            </td>
            <td class="text-left">
                {% if myfile.state == True %}
                on
                {% else %}
                off
                {% endif %}
            </td>  <!-- author 추가 -->
            <td class="text-left">{{ myfile.author.username }}</td>  <!-- author 추가 -->
            <td class="text-left">
                <a href="{% url 'hide:myfile_modify' myfile.author.id myfile.id %}"
                       class="btn btn-sm btn-outline-secondary">수정</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 파일이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if myfile_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ myfile_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in myfile_list.paginator.page_range %}
        {% if page_number >= myfile_list.number|add:-5 and page_number <= myfile_list.number|add:5 %}
            {% if page_number == myfile_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if myfile_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ myfile_list.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->


    <a href="{% url 'hide:myfile_create' %}" class="btn btn-primary">파일 등록하기</a>
    <a href="{% url 'hide:myfile_delete' request.user.id %}" class="btn btn-danger">모두 삭제</a>

</div>
{% endblock %}